.rms-circle {
  background-color: #fcc02e;

  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.rms-circle:hover {
  transform: scale(1.1);
}

mat-card {
  flex-wrap: nowrap;
}
